
header {
    background-image: url("./headFondo.png");
    background-size: cover;
    background-repeat:no-repeat;
    // backdrop-filter: blur(10px);
    border-bottom-right-radius: 80px;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    height: 330px;
    width: 100%;

    .burgerMenu {
        display: none;
        @include mqry($mobile) {
            display: block;
            height: 20px;
            width: 20px;
            position: relative;
            left: 16px;
            top: 12px;
            i {
                color: $secondary-color;
                font-size: 1.8rem;  
            }
            
        }
    }
    .mobile__nav {
        background-color: opcacity-color($primary-color, 1);
        border-radius: 0 0px 24px 0;
        box-shadow: 2px 2px 4px $complementary2-color;
        display: block;
        padding: 8px;
        width: 90%;
        position: absolute;
        // left: -90%;
        top: 45px;
        z-index: 50;
        // transform:translateX(-100%);
        animation: traslate 6s linear ease-in-out;
        ul {
            flex-direction: column;
        }
        li {
            // background-color: opcacity-color($primary-color, 1);
            // border-radius: 80px 0 80px 0;
            border-bottom: 2px solid $complementary2-color;
            list-style: none;
            display: flex;
            align-items: center;
            height: 62px;
            &:hover {
                background-color: $complementary-color 
            }
        }
        .endList {
            border: none;
        }
        a {
            display: block;
            position: relative;
            text-decoration: none;
            @include text-definition($font-text);
            color: $complementary-color;
            font-size: 1rem;
            text-align: center;
            width: 100%;

        }
        
    }
    .inactive {
        visibility: hidden;
      }
    .header__nav {
        display: flex;
        background-color: opcacity-color($complementary2-color, 0.3);
        justify-content: flex-end;
        margin-bottom: 50px;
        padding: 10px 42px;
        width: 100%;
        @include mqry($mobile) {
            display: none;
        }
        ul {
            display: flex;
            list-style: none;
        }
        a {
            margin-left: 20px;
            position: relative;
            text-decoration: none;
            @include text-definition($font-text);
            @include navBar-effect;
            font-size: 0.8rem;
            &:hover {
                color: $complementary-color 
            }
        }
    }

    .header-info {
        display: flex;
        justify-content: space-around;
        @include mqry($mobile) {
            flex-direction: column;
        }
        .presentation {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            .presentation__company {
                display: flex;
                align-items: center;
                @include mqry($mobile) {
                    flex-direction: column;
                    align-content: center;
                    width: 100%;
                }
                img {
                    height: 80px;
                    margin-bottom: 12px;
                    margin-right: 12px;
                    width: 80px;
                }
                h1 {
                    text-align: center;
                    @include text-definition($font-title);
                    color: $complementary2-color;
                    @include mqry($mobile) {
                        font-size: 1.5rem;
                    }
                }
            }
            h3 {
                @include text-definition($font-text);
                color: $secondary-color;
                @include mqry($mobile) {
                    font-size: 0.8rem;
                    display:none;
                }
            }
        }
        .header-right {
            border-radius: 0 0  80px 0;
            padding: 30px 20px;
            width: 450px;
            @include tarjeta(opcacity-color($primary-color, 0.2));
            @include text-definition($font-text);
            @include mqry($mobile) {
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-top: 22px;
                padding: 20px 10px;
                width: 80%;
               
            }
            .service-title {
                @include mqry($mobile) {
                    display: none;
                }
            }

            div {
                margin: 8px 0;
                @include divLine(2px, 100%, $primary-color);
                @include mqry($mobile) {
                    display: none;
                }
            }
            .service-type {
                @include mqry($mobile) {
                    font-size: 0.7rem;
                    // text-align: center
                }
            }
            a {
                @include boton;
                align-self: center;
                font-weight: 300;
                margin-top: 12px; 
                position: relative;
                text-decoration: none;
                &:hover {
                    color: $secondary-color;
                    background-color: $complementary-color;  
                }
                
                
            }

        }
    }   
}   


