header {

    //@include background-blur('https://media.istockphoto.com/id/1413763041/es/foto/mujer-de-negocios-sonriente-mirando-hacia-arriba-mientras-trabaja.jpg?s=1024x1024&w=is&k=20&c=_YLgOO7rbtYBdYp6JWt5NJKnNt7OE1qBT25_0NdxyDo=', 6px);
    // background-image: url('https://media.istockphoto.com/id/1413763041/es/foto/mujer-de-negocios-sonriente-mirando-hacia-arriba-mientras-trabaja.jpg?s=1024x1024&w=is&k=20&c=_YLgOO7rbtYBdYp6JWt5NJKnNt7OE1qBT25_0NdxyDo=');
    background-image: url(../../Assent/imagenes/fotor_2023-1-14_21_51_44.png);
    background-size: cover;
    background-repeat:no-repeat;
    // backdrop-filter: blur(10px);
    border-bottom-right-radius: 80px;
    margin-bottom: 25px;
    height: 330px;
    width: 100%;

    .header__nav {
        display: flex;
        background-color: opcacity-color($complementary2-color, 0.3);
        justify-content: flex-end;
        margin-bottom: 50px;
        padding: 10px 42px;
        ul {
            display: flex;
            list-style: none;
        }
        a {
            margin-left: 20px;
            position: relative;
            text-decoration: none;
            @include text-definition($font-text);
            @include navBar-effect;
            font-size: 0.8rem;
            &:hover {
                color: $complementary-color 
            }
        }
        @include smartphone {
                display: none;
         }
    }
    .header-info {
        display: flex;
        justify-content: space-around;
        .presentation {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            
            .presentation__company {
                display: flex;
                align-items: center;
                img {
                    height: 80px;
                    margin-bottom: 12px;
                    margin-right: 12px;
                    width: 80px;
                }
                h1 {
                    text-align: center;
                    @include text-definition($font-title);
                    color: $complementary2-color;
                }
            }
            h3 {
                @include text-definition($font-text);
                color: $secondary-color;
            }
        }
        .header-right {
            border-radius: 0 0  80px 0;
            padding: 30px 20px;
            width: 450px;
            @include tarjeta(opcacity-color($primary-color, 0.2));
            @include text-definition($font-text);

            div {
                margin: 8px 0;
                @include divLine(2px, 100%, $primary-color);
            }
            a {
                @include boton;
                align-self: center;
                font-weight: 300;
                margin-top: 12px; 
                position: relative;
                text-decoration: none;
                &:hover {
                    color: $secondary-color;
                    background-color: $complementary-color;  
                }
                
                
            }

        }
    }   
}   


   