$primary-color: #21366e;
$secondary-color: #495C91;
$text-color: #010511;
$complementary-color: #FFEECC;
$complementary2-color: #A6B0CB;
$font-title: 'Lato', sans-serif;
$font-text: 'Poppins', sans-serif;
//Medidas query
$mobile: 995px;
$laptop: 1280px;
$desktop: 1605px;


//Estilos prefeterminados
@mixin text-definition ($font) {
    @if $font==$font-title {
        color: $primary-color;
        font-family: $font-title;
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 2.8rem;
    }@else {
        color: #010511;
        font-family: $font-text;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5rem;  
    }
}
@mixin tarjeta($bg) {
    align-items: flex-start;
    background: $bg;
    box-shadow: 0.5px 0.5px 5px  #333;
    display: flex;
    flex-direction: column;
    padding: 18px;
}
@mixin boton {
    align-items: center;
    background-color: opcacity-color($primary-color,1);
    color: $complementary2-color;
    border: none;
    border-radius: 30px;
    display: flex;
    font-family: $font-text;
    font-weight: 500;
    justify-content: center;
    height: 12px;
    padding: 12px 15px;
    width: 150px;
    
}
@mixin divLine ($h, $w, $bgc){
    background-color: $bgc;
    height: $h;
    width: $w;
}
@function opcacity-color($color, $opacity) {
    @return rgba($color, $opacity);
}


//Efectos y animaciones
@mixin navBar-effect {
    &::before {
        content:'';
        background: $complementary-color;
        position:absolute;
        bottom:-10px; 
        width: 0px;
        height: 0px;
        transition:  0.5s ease-in-out;
    }
    &:hover::before{
        width: 100%;
        height: 4px;
    }
}
@keyframes scale {
    50% {transform:scale(1.5)};
}
@keyframes girar {
    50%{transform: rotate(50deg)};
}
@keyframes traslateUpDown {
    45%{transform: translate(0, -5px);}
    55%{transform: translate(0, 5px);}
}

// @mixin background-blur($url, $pxBlur) {
//     &:before {
//         content: "";
//         height: 100%;
//         width: 100%;
//         background-image: url($url);
//         background-size: cover;
//         background-repeat: no-repeat;
//         filter: blur($pxBlur) ;
//         position: absolute;
//         z-index: -1;
//     }
// }


//Responsive design

@mixin mqry ($medida) {
    @media screen and (max-width: $medida) {
        @content;
    }
}


//html

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f5f5f5;
}
