footer{
    align-items: center;
    background-color:$primary-color;
    border-top-left-radius: 80px;
    display: flex;
    justify-content: space-around;
    margin-top: 124px;
    @include mqry($mobile) {
        flex-direction: column;
    }
    img {
        height: 100px;
        width: 100px;
        @include mqry($mobile) {
            margin-top: 24px
        }
    }
    .linefoot {
        @include divLine(180px, 1px, #fff);
        @include mqry($mobile) {
            @include divLine(1px, 180px, #fff);
        }
    }
    .info-company {
        margin-top: 54px;
        .info-company__item{
            display: flex;
            margin-bottom: 32px;
            i {
                color: $complementary2-color;
                margin-right: 18px;
                font-size: 1.2rem;
            }
            p {
                @include text-definition($font-text);
                color: #fff;
            }
        }

    }
    .footer-nav {
        margin-top: 24px;
        ul {
        //    list-style: none;
            color: #fff;
           li {
            margin-bottom: 18px;
            a {
                @include text-definition($font-text);
                color: #fff;
                text-decoration: none;
            }
           }
       }
       @include mqry($mobile) {
        align-self: flex-start;
        list-style: none;
        list-style-position: inside;
        margin-left: 38px;
       }
    }

}
.by {
    background-color:$primary-color;
    color: #fff;
    display: flex;
    font-family: monospace;
    font-size: 0.6rem;
    justify-content: end;
    padding: 8px 22px;
}
.inactive {
    display: none;
}