footer{
    align-items: center;
    border-top-left-radius: 80px;
    display: flex;
    background-color:$primary-color;
    height: 300px;
    justify-content: space-around;
    margin-top: 124px;
    img {
        height: 100px;
        width: 100px;
    }
    .linefoot {
        @include divLine(60%, 1px, #fff);
    }
    .info-company {
        margin-top: 54px;
        .info-company__item{
            display: flex;
            margin-bottom: 32px;
            i {
                color: $complementary2-color;
                margin-right: 18px;
                font-size: 1.2rem;
            }
            p {
                @include text-definition($font-text);
                color: #fff;
            }
        }

    }
    .footer-nav {
        margin-top: 24px;
        ul {
        //    list-style: none;
            color: #fff;
           li {
            margin-bottom: 18px;
            a {
                @include text-definition($font-text);
                color: #fff;
                text-decoration: none;
            }
           }

       }
    }

}
.by {
    background-color:$primary-color;
    color: #fff;
    display: flex;
    font-family: monospace;
    font-size: 0.6rem;
    justify-content: end;
    padding: 2px 22px;
}